@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@keyframes chevrons {
    0% {
        opacity: 0;
        left: calc(0% + 27px);
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 1;
        left: calc(100% - 37px - 70px);
    }
    82% {
        opacity: 1;
        left: calc(100% - 37px - 70px);
    }
    95% {
        opacity: 0;
        left: calc(100% - 37px - 70px);
    }
    100% {
        opacity: 0;
        left: calc(0% + 27px);
    }
}


* {
    font-family: 'Lato',sans-serif,system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eaeaea;
    position: relative;
    height: 100vh;
    max-height: 100vh;
}

body.exp {
    --line-color: #0060A9;
    --dark-color: #00487f;
    --light-color: #8dcdff;
    --text-color: #FFFFFF;
}

body.mil {
    --line-color: #FFD305;
    --dark-color: #f1c500;
    --light-color: #ffe77d;
    --text-color: #12335B;
}

body.can {
    --line-color: #4499C4;
    --dark-color: #2f6d8b;
    --light-color: #8dc0d9;
    --text-color: #FFFFFF;
}



#topbar {
    height: 25vh;
    min-height: 180px;
    display: flex;
    justify-content: space-between;
    background-color: var(--line-color);
    color: var(--text-color);
}

#topbar>div {
    height: 100%;
    position: relative;
}

#topbar .left {
    width: 35%;
}

#topbar #icon {
    height: 40%;
    display: inline-block;
    vertical-align: middle;
}

#topbar #line {
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    margin-left: 20px;
}

#topbar #destination {
    height: 60%;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 2px solid #FFFFFF;
}

#topbar #destination .desc {
    font-size: 20px;
}

#topbar #destination #bound {
    font-size: 35px;
    font-weight: 700;
}



#topbar .right {
    width: 65%;
    border-left: 2px solid #FFFFFF;
    background-color: var(--dark-color);
    padding: 20px 30px;
}

#topbar .right>.centre {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#topbar #vehicle {
    font-size: 40px;
    display: block;
    text-align: center;
}

#topbar #location {
    font-size: 60px;
    display: block;
    text-align: center;
}




#midbody {
    /* height: 75vh */
}

#midbody #linelength {
    display: flex;
    height: 30px;
    margin-top: 100px;
}

#midbody #linelength .item {
    height: 100%;
    width: 25%;
    position: relative;
}

#midbody #linelength .item:not(:last-child)::after,
#midbody #linelength .item.parked:not(:last-child)::after {
    content: ' ';
    position: absolute;
    background-color: #FFFFFF;
    height: 44px;
    width: 44px;
    right: -37px;
    top: -22px;
    z-index: 2;
    border-radius: 50%;
    border: 15px solid var(--dark-color);
}

#midbody #linelength .item.current:not(:last-child)::after {
    /* outline: 5px solid #4ec218; */
    border: 15px solid #4ec218;
}

#midbody #linelength .item.future {
    background-color: var(--line-color);
}

#midbody #linelength .item.past,
#midbody #linelength .item.parked {
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, var(--light-color) 0%);
    background-repeat: repeat-x;
    background-size: 30px 100%;
}

#midbody #linelength .item.past:not(:last-child)::after {
    border: 15px solid var(--light-color);
}

#midbody #linelength .item.current {
    background-color: var(--line-color);
    color: #4ec218;
}

#midbody #linelength .item.current::before {
    content: url('./media/chevron.svg');
    height: 70px;
    width: 70px;
    display: block;
    position: absolute;
    top: -20px;
    animation-duration: 1s;
    animation-name: chevrons;
    animation-iteration-count: infinite;
}


#midbody #descTable {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: 45px auto 0 auto;
}

#midbody #descTable .item {
    width: 20%;
    text-align: center;
    padding: 0 15px;
    font-size: 25px;
}

#midbody #descTable .item.past {
    color: #9a9a9a;
}

#midbody #descTable .item.current {
    /* font-weight: bold; */
}

#midbody #descTable .item .connections {
    margin-top: 20px;
}

#midbody #descTable .item .connections .line {
    font-size: 20px;
    margin: 7px 0;
    padding: 5px 15px;
}

#midbody #descTable .item .connections .line.exp {
    background-color: #265CA6;
    color: #FFFFFF;
}

#midbody #descTable .item .connections .line.mil {
    background-color: #FFD305;
}

#midbody #descTable .item .connections .line.bline {
    background-color: #E5803B;
    color: #FFFFFF;
}

#midbody #descTable .item .connections .line.rap {
    background-color: #479E53;
    color: #FFFFFF;
}

#midbody #descTable .item .connections .line.sea {
    background-color: #84736B;
    color: #FFFFFF;
}

#midbody #descTable .item .connections .line.wce {
    background-color: #7A2996;
    color: #FFFFFF;
}

#midbody #descTable .item .connections .line.can {
    background-color: #4499C4;
    color: #FFFFFF;
}



#bottombar {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

#bottombar .cont {
    width: fit-content;
    display: block;
    margin: 0 auto;
}

#bottombar.nodoors .cont.doors {
    display: none;
}

#bottombar.doors .cont.nodoors {
    display: none;
}

#bottombar .cont img {
    height: 90px;
    vertical-align: middle;
}

#bottombar .cont span {
    margin-left: 30px;
    font-size: 40px;
    vertical-align: middle;
}